---
const {data} = Astro.props;
---

<div class="card-container">
    <div class="card-image-container">
        <img class="card-image" src={data.card_img_src} alt="Card Image">
        <div class="tag type-of-tour">
            <div class="tag-text">{data.tag_typeoftour}</div>
        </div>
        <div class="tag duration">
            <div class="tag-img"><img src="../imgs/clock.svg" alt=""></div>
            <div class="tag-text">{data.tag_duration}</div>
        </div>
        <div class="tag capacity">
            <div class="tag-img"><img src="../imgs/person.svg" alt=""></div>
            <div class="tag-text">{data.tag_capacity}</div>
        </div>
    </div>
    <div class="content-container">
        <div class="content-heading-1">
            <h1>{data.card_location}</h1>
        </div>
        <div class="content-heading-2">
            <h2>{data.card_name}</h2>
        </div>
        <hr>
        <div class="content-description">
            <p>{data.card_description}</p>
        </div>
        <a href={`tours/${data.url_appendix}`}><button class="centered-button">Read more and book tour</button></a>
    </div>
</div>