---
import "../../styles/tour-details-style.css";
import Slideshow from "../../components/Slideshow.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";

export async function getStaticPaths() {
  const data = await fetch("https://upiqsxfhchnuzrsxvgbp.supabase.co/rest/v1/sisimiut_private_boat_safari",
    {
        method : "GET", 
        headers: {
            apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVwaXFzeGZoY2hudXpyc3h2Z2JwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDIwMzEwNjgsImV4cCI6MjAxNzYwNzA2OH0.nHtV6LAiYP_CkS_NEPjMxAxV4M_u40bYxUzb46-GjD8" 
        },
    }).then(res => res.json());

  return data.map((tour) => {
    return {
      params: { slug: tour.slug },
      props: { tour },
    };
  });
}

const {tour} = Astro.props;
console.log(tour)


/* 
{
  id: 1,
  created_at: '2023-12-08T10:37:22.731026+00:00',
  card_name: 'ATLANTIC WOLFFISH & HALIBUT',
  card_location: 'Sisimiut',
  card_description: 'In this tour you’ll experience traditional greenlandic fishing for the atlantic wolffish and halibut. Duration 6-8 hours. From June to September.',
  card_img_src: 'https://www.boatsafari.gl/wp-content/uploads/2020/01/been-1152x1536.jpg',
  tag_typeoftour: 'Fishing Safari',
  tag_duration: '6-8 hours',
  tag_capacity: '1-4 people',
  price_one: 348,
  long_description: 'Take a unforgettable longline fishing tour. In this tour you’ll experience traditional greenlandic fishing for the atlantic wolffish and halibut. This is a great choice if you want to catch these delicious fish, which I recommend you cook or get cooked at your accomodation.\n' +
    'The season is from June to September, and it takes 6-8 hours.',
  ss_img_one_src: '',
  ss_img_two_src: '',
  ss_img_three_src: '',
  price_two: 404,
  price_three: 464,
  url_appendix: 'atlantic-wolffish-and-halibut-tour' 
  
  */

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{tour.card_name}</title>
	</head>

	<body>
        <Header></Header>
		<main>
			<div class="site-container">
				<div class="hero-image-container">
					<img src={tour.card_img_src} alt="">
                    </div>
                        <div class="tour-intro-container">
                            <div class="tour-headings">
                                <div class="tour-location">
                                    <h1>{tour.card_location}</h1>
                                </div>
                                <div class="tour-name">
                                    <h2>{tour.card_name}</h2>
                                </div>
                            </div>
                            <div class="tag-container">
                                <div class="tag capacity">
                                    <div class="tag-img">
                                        <svg width="auto" height="15" viewBox="0 0 76 170" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M38 13C41.3152 13 44.4946 14.317 46.8388 16.6612C49.183 19.0054 50.5 22.1848 50.5 25.5C50.5 28.8152 49.183 31.9946 46.8388 34.3388C44.4946 36.683 41.3152 38 38 38C34.6848 38 31.5054 36.683 29.1612 34.3388C26.817 31.9946 25.5 28.8152 25.5 25.5C25.5 22.1848 26.817 19.0054 29.1612 16.6612C31.5054 14.317 34.6848 13 38 13ZM38 0.5C31.3696 0.5 25.0107 3.13392 20.3223 7.82233C15.6339 12.5107 13 18.8696 13 25.5C13 32.1304 15.6339 38.4893 20.3223 43.1777C25.0107 47.8661 31.3696 50.5 38 50.5C44.6304 50.5 50.9893 47.8661 55.6777 43.1777C60.3661 38.4893 63 32.1304 63 25.5C63 18.8696 60.3661 12.5107 55.6777 7.82233C50.9893 3.13392 44.6304 0.5 38 0.5ZM53.375 56.625H22.625C16.7571 56.625 11.1295 58.956 6.98026 63.1053C2.83102 67.2545 0.499998 72.8821 0.499998 78.75V111.75C0.363401 115.223 1.59726 118.611 3.93556 121.184C6.27385 123.756 9.52929 125.306 13 125.5V154.625C13 158.603 14.5804 162.419 17.3934 165.232C20.2064 168.045 24.0217 169.625 28 169.625H48C50.0126 169.626 52.0049 169.222 53.8581 168.437C55.7114 167.652 57.3878 166.503 58.7874 165.056C60.187 163.61 61.2812 161.897 62.005 160.019C62.7287 158.141 63.0671 156.136 63 154.125V125.5C66.4707 125.306 69.7261 123.756 72.0644 121.184C74.4027 118.611 75.6366 115.223 75.5 111.75V78.75C75.5 72.8821 73.169 67.2545 69.0197 63.1053C64.8705 58.956 59.2429 56.625 53.375 56.625ZM13 113V78.75C12.9832 77.4814 13.2207 76.2222 13.6984 75.0469C14.1762 73.8715 14.8845 72.8038 15.7817 71.9067C16.6788 71.0095 17.7465 70.3012 18.9219 69.8234C20.0972 69.3457 21.3564 69.1082 22.625 69.125H53.375C54.6436 69.1082 55.9028 69.3457 57.0781 69.8234C58.2535 70.3012 59.3212 71.0095 60.2183 71.9067C61.1155 72.8038 61.8238 73.8715 62.3016 75.0469C62.7793 76.2222 63.0168 77.4814 63 78.75V113H50.5V154.375C50.5 155.038 50.2366 155.674 49.7678 156.143C49.2989 156.612 48.663 156.875 48 156.875H28C27.337 156.875 26.7011 156.612 26.2322 156.143C25.7634 155.674 25.5 155.038 25.5 154.375V113H13Z" fill="currentColor"/>
                                            </svg>
                                    </div>
                                    <div class="tag-text">{tour.tag_capacity}</div>
                                </div>
                                <div class="tag type-of-tour">
                                    <div class="tag-text">{tour.tag_typeoftour}</div>
                                </div>
                                <div class="tag duration">
                                    <div class="tag-img">
                                        <svg width="auto" height="15" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6.5 0C10.0913 0 13 2.90875 13 6.5C13 10.0913 10.0913 13 6.5 13C2.90875 13 0 10.0913 0 6.5C0 2.90875 2.90875 0 6.5 0ZM6.5 11.375C9.18937 11.375 11.375 9.18937 11.375 6.5C11.375 3.81063 9.18937 1.625 6.5 1.625C3.81063 1.625 1.625 3.81063 1.625 6.5C1.625 9.18937 3.81063 11.375 6.5 11.375ZM5.92312 7.07687C5.98 7.1175 6.03688 7.15812 6.11 7.19875L6.09375 7.215L9.75 8.9375L7.28813 6.34563L6.5 2.4375L5.71187 6.34563H5.72C5.72 6.35752 5.71565 6.37377 5.71012 6.39438C5.7081 6.40192 5.70593 6.41004 5.70375 6.41875C5.70205 6.42553 5.70036 6.43196 5.69874 6.43811C5.69259 6.46143 5.6875 6.48071 5.6875 6.5C5.6875 6.7275 5.76875 6.9225 5.92312 7.07687Z" fill="currentColor"/>
                                            </svg>
                                    </div>
                                    <div class="tag-text">{tour.tag_duration}</div>
                                </div>
                            </div>
                        </div>
				</div>
                <div class="hero-followup">
                    <div class="prices-container">
                        <div class="price-box">
                            <div class="price">1-2 people <span class="price-amount">${tour.price_one}</span></div>
                        </div>
                        <div class="price-box">
                            <div class="price">3 people <span class="price-amount">${tour.price_two}</span></div>
                        </div>
                        <div class="price-box">
                            <div class="price">4 people <span class="price-amount">${tour.price_three}</span></div>
                        </div>
                    </div>
                    <div class="booktour-container">
                        <a href="/contact"><button class="booktour">Book Tour</button></a>
                    </div>
                </div>
                <section class="tour-details-section">
                    <div class="tour-details-container">
                        <article class="description-container">
                            <span>{tour.long_description}</span>
                        </article>
                        <Slideshow></Slideshow>
                    </div>
                </section>
			</div>
		</main>
        <Footer></Footer>
	</body>
</html>